* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Header/navbar styling */

header {
    display: flex;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

#logo {
    width: 20vw;
    max-width: 100px;
    background-color: black;
    margin-left: 0.5rem;
}

#topnav a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: #76736e;
    margin-right: 0.5rem;
    font-weight: normal;
}

#topnav a:hover {
    color: #43a2fe;
    border-bottom: 2px dashed #43a2fe;
}

/* Hero component */

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(/images/hero-image.jpg) 51% 100% no-repeat;
    background-size: cover;
    height: 50vw;
    margin-top: 75px;
    max-height: 500px;
}

/* About page main */

main article {
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: justify;
    color: #414143;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


main h2 {
    text-align: center;
    margin: 1rem 0 1.5rem 0;
}

#about-pic img {
    width: 85vw;
    margin-bottom: 1rem;
}

main article section p {
    width: 85vw;
    margin: 1.5rem;
}

#resume {
    text-decoration: none;
    color: #414143;
    border-bottom: #414143 2px dashed;
    transition: 0.5s;
}

#resume:hover  {
    color: #43a2fe;
    border-bottom: 2px solid #43a2fe;
}

/* More information section */

#more-info {
    margin-bottom: 1.5rem;
}

#more-info h3 {
    margin: 2rem;
    text-align: center;
}

#email-container {
    display: flex;
    position: relative;
    align-items: center;
}

#email-container .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

#email-container:hover .img-top {
    display: flex;
}

#email-link {
    text-decoration: none;
    color: #414143;
    border-bottom: #414143 2px dashed;
    transition: 0.5s;
}

#email-link:hover  {
    color: #43a2fe;
    border-bottom: 2px solid #43a2fe;
}

#resume-container {
    display: flex;
    position: relative;
    align-items: center;
}

#resume-container .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

#resume-container:hover .img-top {
    display: flex;
}

#resume-link {
    text-decoration: none;
    color: #414143;
    border-bottom: #414143 2px dashed;
    transition: 0.5s;
}

#resume-link:hover  {
    color: #43a2fe;
    border-bottom: 2px solid #43a2fe;
}

/* Social media links */

#social-links {
    border-top: 4px solid #76736e;
    border-bottom: 4px solid #76736e;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: white
}

#social-links h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #43a2fe;
    margin-bottom: 1rem;
}

#social-links nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

/* Discord hover colour change */

#discord-icon {
    position: relative;
    display: inline-block;
}

#discord-icon .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

#discord-icon:hover .img-top {
    display: inline;
}

/* Facebook hover colour change */

#facebook-icon {
    position: relative;
    display: inline-block;
}

#facebook-icon .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

#facebook-icon:hover .img-top {
    display: inline;
}

/* GitHub hover colour change */

#github-icon {
    position: relative;
    display: inline-block;
}

#github-icon .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

#github-icon:hover .img-top {
    display: inline;
}

/* LinkedIn hover colour change */

#linkedin-icon {
    position: relative;
    display: inline-block;
}

#linkedin-icon .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

#linkedin-icon:hover .img-top {
    display: inline;
}

/* Twitter hover colour change */

#twitter-icon {
    position: relative;
    display: inline-block;
}
#twitter-icon .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
#twitter-icon:hover .img-top {
    display: inline;
}

/* Footer component */

footer {
    text-align: center;
    padding: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.75rem;
}

/* ***TABLET STYLES*** */

@media only screen and (min-width: 750px) {

    #topnav a {
        font-size: 1.2rem;
    }

    #about-pic img {
        width: 70vw;
        margin-bottom: 1rem;
    }
    
    main article section p {
        width: 70vw;
        font-size: 1.2rem;
    }

    #more-info {
        font-size: 1.2rem;
    }
}

/* ***DESKTOP STYLES*** */

@media only screen and (min-width: 1200px) {

    #about-pic img {
        width: 60vw;
    }
    
    main article section p {
        width: 60vw;
        text-align: left;
    }


}